# Build output
fw/Debug/
fw/Release/
fw_display/Debug/

# IDE / STM32CubeIDE
fw/.settings/
fw_display/.settings/
fw/*.launch
fw_display/*.launch
.metadata/

# Temp files
.commitmsg

# Python
__pycache__/
*.pyc
.venv/
venv/

# OS
Thumbs.db
.DS_Store
